<?xml version="1.0" encoding="utf-8"?>
<configuration>
 
<connectionStrings><add name="MessagingDB" connectionString="metadata=res://*/smsg.csdl|res://*/smsg.ssdl|res://*/smsg.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local)\sqlexpress;Initial Catalog=SMsgS;Persist Security Info=True;User ID=smsg;Password=smsg;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>